body{
    background-image:url(./faq-bg.jpg);
    background-image: no-repeat center center/cover;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.accordian{
width:70%;
background-color: white;
padding:30px;
border-radius:30px;
}

.accordian .accordian-title{
    text-align: center;
    margin-bottom:30px;

}
.accordian .content-container .question{
    padding:18px 0px;
    font-size:22px;
    cursor: pointer;
    border-bottom:1px solid black;
    position:relative;
}
.accordian .content-container .question:after{
    content:'+';
    position:absolute;
    right:-5px;
}

.accordian .content-container .answer{
    padding-top:15px;
    font-size:22px;
    line-height:1.5;
    width:100%;
    height:0px;
    overflow:hidden;
    transition:.5s;

}
/* javascript styling link*/

.accordian .content-container.active .answer{
    height:150px;
}
.accordian .content-container.active .question{
    font-size: 18px;
    transition:.5s;
}

.accordian .content-container.active .question::after{
    content: '-';
    font-size:30px;
    transition:.5s;
}
